<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/> <!-- Link your CSS file here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="https://i.ibb.co/bXM0Dhr/bot.jpg" class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>Cyber Snow ChatBot</span>
                                <p>Ask me anything!</p>
                            </div>
                        </div>
                    </div>
                    <div id="messageFormeight" class="card-body msg_card_body">
                        <!-- Chat message content -->
                    </div>
                    <div class="card-footer">
                        <form id="messageArea" class="input-group">
                            <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required/>
                            <div class="input-group-append">
                                <!-- File attach button image -->
                                <button type="button" class="input-group-text attach_btn" onclick="document.getElementById('fileInput').click();">
                                    <i class="fas fa-paperclip"></i>
                                </button>
                                <!-- Actual file input hidden, triggered by the file attach button -->
                                <input type="file" id="fileInput" style="display: none;">
                                <!-- Send button -->
                                <button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
                                <!-- Summary button -->
                                <button type="button" id="summaryButton" class="input-group-text send_btn">
                                    <i class="fas fa-file-alt"></i> <!-- Font Awesome icon for file-alt -->
                                </button>
                                <!-- Predefined questions bubble button -->
                                <button id="predefinedQuestionsButton" type="button" class="input-group-text predefined_questions_btn">
                                    <i class="fas fa-question-circle"></i>
                                </button>

                                <!-- Predefined questions dropdown -->
                                <div id="predefinedQuestionsDropdown" class="predefined-questions-dropdown">
                                    <ul>
                                        <li><a href="#" class="predefined-question">Suggest few risk factors that might affect the company in the future, suggest few technical questions that i can ask the startup and give me the industry benchmark numbers for the same with data</a></li>
                                        <li><a href="#" class="predefined-question">Suggest me few questions regarding the metrics of the company and also give me what is the industry standard for those metrics, like retention rate</a></li>
                                        <li><a href="#" class="predefined-question">Give me a swot analysis for the company</a></li>
                                        <li><a href="#" class="predefined-question">Give me the ideal customer persona for this company and compare indian goverment data, like gdp per capita income, population, income level and other such data and give me the TAM SAM SOM numbers for the company using the indian population as the example, example, if there are 1 billion people in the country, there are 560 million potential customers, Also give the split of indian cities where the Most number of ICP is located</a></li>
                                    </ul>
                                    <!-- Close button -->
                                    <button id="predefinedQuestionsCloseButton" type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true" style="color: white;">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <!-- Popup box for selecting report types -->
<div id="reportPopup" class="report-popup">
    <div class="report-popup-content">
        <span id="reportPopupCloseButton" class="close" style="color: white;">&times;</span>
        <h3>Select Report Topics:</h3>
        <ul>
            <li><input type="checkbox" class="popup-report-checkbox" value="Go-to-Market Strategy" id="popup-report-go-to-market-strategy"> Go-to-Market Strategy</li>
            <li><input type="checkbox" class="popup-report-checkbox" value="Competitors" id="popup-report-customer-feedback"> Competitors</li>
            <li><input type="checkbox" class="popup-report-checkbox" value="Customer Feedback" id="popup-report-customer-feedback"> Customer Feedback</li>
            <li><input type="checkbox" class="popup-report-checkbox" value="Risk Assessment" id="popup-report-risk-assessment"> Risk Assessment</li>
            <li><input type="checkbox" class="popup-report-checkbox" value="Performance Metrics" id="popup-report-performance-metrics"> Performance Metrics</li>
            <li><input type="checkbox" class="popup-report-checkbox" value="Strategic Analysis" id="popup-report-strategic-analysis"> Strategic Analysis</li>
            <li><input type="checkbox" class="popup-report-checkbox" value="Technical Questions" id="popup-report-technical-questions"> Technical Questions</li>
            <li><input type="checkbox" class="popup-report-checkbox" value="Unique Selling Proposition (USP)" id="popup-report-unique-selling-proposition"> Unique Selling Proposition (USP)</li>
            <li><input type="checkbox" class="popup-report-checkbox" value="The Ideal Customer Profile (ICP)" id="popup-report-ideal-customer-profile"> The Ideal Customer Profile (ICP)</li>
            <li><input type="checkbox" class="popup-report-checkbox" value="Ideal Customer Persona" id="popup-report-ideal-customer-persona"> Ideal Customer Persona</li>
            <li><input type="checkbox" class="popup-report-checkbox" value="TAM SAM SOM Analysis" id="popup-report-tam-sam-som"> TAM SAM SOM Analysis</li>
        </ul>
        <!-- Generate Report button -->
        <button id="generatePopupReportButton" type="button" class="btn btn-primary">
            Generate Report
        </button>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Function to handle form submission
        $('#messageArea').on("submit", function (event) {
            const date = new Date();
            const hour = date.getHours();
            const minute = date.getMinutes();
            const str_time = hour + ":" + minute;
            var rawText = $("#text").val();

            $("#text").val("");

            $.ajax({
                type: "POST",
                url: "/handle_userinput",
                contentType: "application/json",
                data: JSON.stringify({ user_question: rawText }),
                xhrFields: {
                    withCredentials: true  // Include cookies in the request
                },
                success: function (response) {
                    // Append user message (raw text) to the chat interface
                    $("#messageFormeight").append('<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '<span class="msg_time_send">' + str_time + '</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>');

                    // Append bot message to the chat interface
                    $("#messageFormeight").append('<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/bXM0Dhr/bot.jpg" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + response + '<span class="msg_time">' + str_time + '</span></div></div>');

                    // Scroll to the bottom of the chat container
                    $('#messageFormeight').scrollTop($('#messageFormeight')[0].scrollHeight);
                },
                error: function (xhr, status, error) {
                    console.error('An error occurred while handling user input:', error);
                }
            });

            // Prevent form submission
            event.preventDefault();
        });

        // Function to handle clicking on predefined questions button
        $('#predefinedQuestionsButton').click(function () {
            $('#predefinedQuestionsDropdown').toggle(); // Toggle visibility of predefined questions dropdown
        });

        // Function to handle clicking on close button
        $('#predefinedQuestionsCloseButton').click(function () {
            $('#predefinedQuestionsDropdown').hide(); // Hide predefined questions dropdown
        });

        // Function to handle clicking on the report popup close button
        $('#reportPopupCloseButton').click(function () {
            $('#reportPopup').hide(); // Hide report popup
        });

        // Handle predefined question selection
        $('.predefined-question').click(function () {
            var selectedQuestion = $(this).text();
            // Add the selected question to the chat input area or do any other necessary action
            // Update the chat input area with the selected question
            $('#text').val(selectedQuestion);
            // Close the predefined questions dropdown
            $('#predefinedQuestionsDropdown').hide();
        });

        // Function to handle clicking on the summary button
        $('#summaryButton').click(function () {
            // Show the report popup
            $('#reportPopup').show();
        });

        // Function to handle clicking on the summary button
        $('#generatePopupReportButton').click(function() {
            var selectedReportTypes = [];
            $('.popup-report-checkbox:checked').each(function() {
                selectedReportTypes.push($(this).val());
            });

            // Send AJAX request to generate the PDF report
            // Send AJAX request to generate the PDF report and pass selected report topics to the backend
            $.ajax({
                type: 'POST',
                url: '/generate_summary',
                data: JSON.stringify({ reportTypes: selectedReportTypes }),
                contentType: 'application/json',
                success: function(response) {
                    // Handle the PDF file download
                    var blob = new Blob([response], { type: 'application/pdf' });
                    var url = window.URL.createObjectURL(blob);
                    var a = document.createElement('a');
                    a.href = url;
                    a.download = 'Report.pdf';
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);

                    // Hide the report popup
                    $('#reportPopup').hide();

                    // Show success message for report download
                    showMessage('PDF report downloaded successfully.');

                    // Log the response from generating the PDF report
                    console.log(response);
                },
                error: function(xhr, status, error) {
                    console.error('An error occurred while generating the PDF report:', error);
                }
            });
        });

        $('#fileInput').on('change', function (event) {
            var file = event.target.files[0];
            var formData = new FormData();
            formData.append('pdf_file', file);

            // Send PDF file to server using AJAX
            $.ajax({
                type: 'POST',
                url: '/upload_pdf',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    // Display success message
                    showMessage(response.message);
                    // Send the PDF summary as the first message
                    sendFirstMessage(response.pdf_summary);
                    // Update chat history if needed
                    updateChatHistory(response.chat_history);
                },
                error: function (xhr, status, error) {
                    // Display error message
                    showMessage('An error occurred while uploading the PDF.');
                }
            });
        });

        function sendFirstMessage(message) {
            // Append bot message (PDF summary) to the chat interface
            $("#messageFormeight").append('<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="https://i.ibb.co/bXM0Dhr/bot.jpg" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + message + '</div></div>');
            // Scroll to the bottom of the chat container
            $('#messageFormeight').scrollTop($('#messageFormeight')[0].scrollHeight);

        }

        function showMessage(message) {
            // Display message in the UI
            $('#messageFormeight').append('<div id="successMessage" class="msg_cotainer_send">' + message + '</div>');

            // Automatically remove the success message after 30 seconds
            setTimeout(function () {
                $('#successMessage').remove();
            }, 30000); // 30 seconds
            // Scroll to the bottom of the chat container
            $("#messageFormeight").scrollTop($("#messageFormeight")[0].scrollHeight);
        }

    });
</script>
</body>
</html>
